invert_scrolling = true
[icons]
icons = "awesome6"

[theme.overrides]
good_bg = "#0C0C0D"
info_bg = "#0C0C0D"
idle_bg = "#0C0C0D"
warning_bg = "#0C0C0D"
critical_bg = "#0C0C0D"
separator_bg = "#0C0C0D"
separator = ""

[[block]]
block = "disk_space"
path = "/"
format = "  $available "
[[block.click]]
button = "right"
update = true

[[block]]
block = "disk_space"
path = "/home"
format = "  $available "
[[block.click]]
button = "right"
update = true

[[block]]
block = "net"
format = " $icon {$ssid |}"
[[block.click]]
button = "left"
cmd = "foot nmtui"

[[block]]
block = "memory"
format = " $icon $mem_used_percents.eng(w:1) "
format_alt = " $icon_swap $swap_used_percents.eng(w:1) "

[[block]]
block = "temperature"
format = " $icon $max "
format_alt = " $icon $min min, $max max, $average avg "

[[block]]
block = "cpu"

[[block]]
block = "load"

[[block]]
block = "battery"
format = " $icon $percentage {$time_remaining.dur(hms:true, min_unit:m) |}"

[[block]]
block = "bluetooth"
mac = "94:DB:56:79:A5:3C"
format = " $icon {$percentage |}"
disconnected_format = " $icon "

[[block]]
block = "sound"

[[block]]
block = "sound"
device_kind = "source"

[[block]]
block = "time"
interval = 1
[block.format]
full = " $icon $timestamp.datetime(f:'%a %F %T', l:de_DE) "
short = " $icon $timestamp.datetime(f:%R) "

[[block]]
block = "custom"
command = "if pgrep -x \"syncthing\" > /dev/null; then echo '{\"icon\":\"\",\"state\":\"Info\", \"text\": \"\"}'; else echo '{\"icon\":\"\",\"state\":\"Warning\", \"text\": \"\"}'; fi"
json = true
[[block.click]]
button = "left"
cmd = "xdg-open http://localhost:8384"
