[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "git/diff-so-fancy"]
	path = git/diff-so-fancy
	url = https://github.com/so-fancy/diff-so-fancy
[submodule "bash/liquidprompt"]
	path = bash/liquidprompt
	url = https://github.com/nojhan/liquidprompt
[submodule "vim/bundle/fzf.vim"]
	path = vim/bundle/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "vim/start/editorconfig-vim"]
	path = vim/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim
[submodule "vim/start/vim-eunuch"]
	path = vim/start/vim-eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "vim/start/auto-pairs"]
	path = vim/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "vim/start/nerdcommenter"]
	path = vim/start/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/start/vim-surround"]
	path = vim/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/start/vim-signify"]
	path = vim/start/vim-signify
	url = https://github.com/mhinz/vim-signify.git
[submodule "vim/start/vim-airline"]
	path = vim/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/start/vim-fugitive"]
	path = vim/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/start/tabular"]
	path = vim/start/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vim/start/ale"]
	path = vim/start/ale
	url = https://github.com/w0rp/ale.git
[submodule "vim/start/nerdtree"]
	path = vim/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/start/badwolf"]
	path = vim/start/badwolf
	url = https://github.com/sjl/badwolf.git
[submodule "vim/start/vim-airline-themes"]
	path = vim/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "vim/start/vim-polyglot"]
	path = vim/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
